body{
    background-color: rgb(203, 189, 255);
    
    color:whitesmoke;
    }
    section{
    background-color:rgb(141, 89, 238);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    }
    
    .MargemTitulo {
    margin: 6%;
    }
    header {
    margin: 5%;
    font-size: 20px;
    text-align: center;
    }
    header {
    text-align: center;
    }